<<<<<<< HEAD
.filter{
background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

section.filters button{
    font-size: 18px;
    color: white;
    background-color: #FF5A5F;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
}
section.filters button:hover{
    opacity: 0.9;
}
=======
.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    top: .5rem;
    right: 30px;
    border-style: none;
    position: absolute;
}

button:hover {
    opacity: 90%;
}
>>>>>>> cee833d2e92e80db04476dd7b14da2929e395489
